/* hide scroll bar   */
/* ::-webkit-scrollbar{
  display: none;
} */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.form input:focus,
select:focus,
button:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  overflow-y: hidden;
}
h1 {
  background-color: black;
  height: 20px;
}
main {
  /* border:1px solid black; */
  /* min-height: 100vh; */
  /* height: 100vh; */
  height: calc(100vh-40px);
  /* position: absolute;
  top: 40px;
  width: 100vw; */
}
/* .fixed{
    position:fixed;
    top:0;
    width:100%
  } */
/* nav section */

nav {
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  /* position: absolute;
  top: 0;
  width: 100vw; */
}
.form {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 5px;
}
.form span {
  padding-left: 3px;
  background: transparent;
  border: none;
}
.form span i {
  transform: rotate(30deg);
}
.form input {
  /* position: relative; */
  height: 25px;
  border: none;
  /* width: 85px; */
  font-size: 0.85em;
  background-color: transparent;
}
.form-input {
  width: 65px;
}

#input-inside {
  /* position: absolute; */
  /* left: 122px; */
  /* border: none;
  padding: 0;
  height: 24px;
  top: 8px; */
  width: 85px;
}
/* .card {
  width: 200px;
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 55px;
  left: 15px;
  border-radius: 10px;
  display: none;
  z-index: 1;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  width: 180px;
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 35px;
  left: 5px;
  border-radius: 10px;
  display: none;
  z-index: 1;
}
.list li {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.list li:last-child {
  border-bottom: none;
}
.done {
  display: block;
}

/* body section */

/* main-container */
.main-container {
  display: flex;
  /* border: 1px black solid;
  margin: 0 2px; */
  /* background-color: antiquewhite; */
  overflow: hidden;
  /* height: 100vh; */
  height: 95vh;
}

/* left-pane */
.patient-container {
  flex-grow: 0;
  flex-shrink: 0;
  /* flex-basis: 15%; */
  background-color: aqua;
  display: flex;
  width: 180px;

  border: 1px solid black;
}

/* right-pane */
.card-container {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: aquamarine;
  border: 1px solid black;
  margin-right: 1px;
}

/* separator */
.split-bar {
  flex-grow: 0;
  flex-shrink: 0;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png)
    center center no-repeat #b1afaf;
  width: 0.8rem;
  cursor: col-resize;
  margin: 0 0 0 auto;
  /* border:1px solid black; */
}

/* alphabets list */

.letter-bar {
  background-color: black;
  /* min-height:100vh;   */
  /* position: relative; */
  /* min-height: 100%; */
  /* position: absolute;
  height: 100vh; */
  height: 94vh;
  overflow-y: auto;
}
.letters {
  /* height: 422px; */
  /* height: 88vh;
  overflow-y: auto; */
  margin-top: 16px;
  margin-bottom: 35px;
}

.letters li {
  text-align: center;
  color: #fff;
  margin: 0;
  /* padding: 5px;
  font-size: 1.25rem; */
  padding: 1px;
  font-size: 1.05rem;
}

.caret {
  background-color: #b1afaf;
  border: none;
  /* width: 24px; */
}

.caret .fas {
  font-size: 13px;
}
.caret-up {
  position: fixed;
  top: 40px;
  left: 0px;
}
.caret-down {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/* patient card container */
.list-container {
  width: 97%;
}
.patient-list {
  width: 95%;
  height: 450px;
  /* overflow: auto; */
}

/* patient list */
.patient-list li {
  /* border: 1px solid black; */
  padding: 0 10px;
  /* background-color: #eee; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 100%; */
}

.patient-list li :hover {
  overflow: visible;
  background-color: aqua;
}
/* Style the active class, and buttons on mouse-over */
.active,
.patient-list li:hover {
  background-color: #666;
  color: white;
}

/* patient card */
.patient-card {
  /* width: 500px;
  height: 350px; */
  background-color: #eee;
  box-shadow: 4px 5px 3px grey;
  margin: 3rem 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-height: 500px;
  min-height: 400px;
}
/* media queries on small screens */
@media only screen and (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .patient-container {
    width: auto;
    margin-top: 1px;
    height: 220px;
    overflow-y: auto;
    margin-left: 18px;
  }
  .card-container {
    height: 300px;
  }
  .letter-bar {
    height: 210px;
    position: absolute;
  }
  .split-bar {
    width: 100%;
    font-size: 6px;
  }
  .caret-up {
    top: 40px;
  }
  .caret-down {
    top: 246px;
    height: 15px;
  }
  /* .patient-card {
    width: 80%;
  } */
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .letter-bar {
    position: absolute;
  }
}

@media only screen and (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .list-container {
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .patient-card {
    width: 70%;
    margin: 2rem 0 1rem 1rem;
  }
  .split-bar {
    margin: 0 0 0 0;
  }
}

/* media queries on small screens */
@media only screen and (max-height: 450px) {
  .navbar {
    /* height: 8vh; */
  }
  .letters {
    /* height: 75vh; */
  }
}
