/* hide scroll bar   */
::-webkit-scrollbar{
  display: none;
}

* {
  box-sizing: border-box;
}
*:focus{
  outline:none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vh;
}

  /* .fixed{
    position:fixed;
    top:0;
    width:100%
  } */
/* nav section */
.form-inline {
  margin: 0;
}

.form-inline input {
  position: relative;
}
/* .card {
  width: 200px;
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 55px;
  left: 15px;
  border-radius: 10px;
  display: none;
  z-index: 1;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list{
  width: 200px;
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 55px;
  left: 15px;
  border-radius: 10px;
  display: none;
  z-index: 1;
}
.list li {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.list li:last-child {
  border-bottom: none;
}
.done {
  display: block;
}

/* body section */

/* main-container */
.main-container {
  display: flex;
  border: 1px black solid;
  margin: 0 2px;
  background-color: antiquewhite;
  overflow: hidden;
}

/* left-pane */
.patient-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15%;
  background-color: aqua;
  display: flex;
}

/* right-pane */
.card-container {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: aquamarine;
}

/* separator */
.split-bar {
  flex-grow: 0;
  flex-shrink: 0;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png)
    center center no-repeat #b1afaf;
  width: 0.8rem;
  cursor: col-resize;
  margin: 0 0 0 auto;
}

/* alphabets list */

.letter-bar {
  background-color: black;
}
.letters{
  height: 422px;
    overflow: auto;
}

.letters li {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 5px;
  font-size: 1.25rem;
}

.caret{
  background-color: #b1afaf;
  border:none;

}

.caret .fas{
  font-size: 20px;
}

/* patient card container */
.list-container {
  width: 100%;
}
.patient-list {
  width: 100%;
  height: 450px;
    overflow: auto;
}

/* patient list */
.patient-list li {
  border: 1px solid black;
  padding: 0 10px;
  background-color: #eee;
}

/* patient card */
.patient-card {
  width: 500px;
  height: 350px;
  background-color: #eee;
  box-shadow: 4px 5px 3px grey;
  margin: 3rem 0 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queries on small screens */
@media only screen and (max-width: 690px) {
  .patient-card {
    width: 80%;
  }

@media only screen and (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .list-container {
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .patient-card {
    width: 70%;
    margin: 2rem 0 1rem 1rem;
  }
  .split-bar{
    margin: 0 0 0 0;
  }
}
